﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="NumericUC.ascx.vb" Inherits="AOITPortal.NumericUC" %>

    


<style type="text/css">
    .auto-style1 {
       width: 40px;
        height: 40px;
       
        font-weight:bold;
        font-size:x-large;
       text-align:center;

    }
    .auto-style2 {
        width: 40px;
        height: 40px;
        background-color:midnightblue;
        font-weight:bold;
        font-size:x-large;
        color:white;

    }
    .auto-style3 {
        width: 40px;
        height: 40px;
        background-color:midnightblue;
        font-weight:bold;
        font-size:x-large;
        color:white;
    }
</style>
<p>
 <script type="text/javascript">

     function incNumber() {
         var c = parseInt(document.getElementById("TXTNum").value);
         c++;
         document.getElementById("TXTNum").value = c;

     }

     function decNumber() {
         var c = parseInt(document.getElementById("TXTNum").value);
         c--;
         document.getElementById("TXTNum").value = c;

     }
 </script>
    <input type="button" value="+" id="inc" onclick="incNumber()" class="auto-style2" />
    <input id="TXTNum" type="text" value="1" class="auto-style1"/>
    <input type="button" value="-" id="dec" onclick="decNumber()" class="auto-style3" />
    </p>
    

